.main-signup {
    background-color: var(--header-color);
    min-height: 62vh;
    height: auto;
    width: 70vh;
    position: fixed;
    top: 22%;
    left: 32%;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #2a2a2a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-signup h1 {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 7%;
}

label[for*="retype-password"],
label[for*="password"],
label[for*="username"] {
    color: var(--green-color);
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
}

input{
    padding-left: 10px;
    color: var(--secondary-color);
    display: block;
    background-color: var(--primary-color);
    border-style: solid;
    border-radius: 20px;
    border-color: var(--green-color);
    border-width: 2px;
    width: 30vh;
    height: 30px;
    margin-bottom: 10px;
}

input:focus{
    border: none;
    color: var(--secondary-color);
    padding-left: 10px;
}

.main-signup h4 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

li, .helptext {
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.main-signup h4 a {
    color: var(--green-color);
    text-decoration: none;
    text-align: center;
}

.signup-button {
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 14px 20px 14px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    width: 120px;
}

.signup-button:hover {
    opacity: 0.6;
}