<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'Forum/forum.css' %}" />
  </head>
  <body>

    <!--Button Section-->
    <section class="button_header">
      <button class="post_question">
        <a href="{% url 'post_question_title' %}" class="link">Post Question</a>
      </button>
      <button
        class="your_question"
        onclick="location.href='../Your_Questions/your_questions.html'"
      >
        <a href="{% url 'your_questions' %}" class="link">Your Questions</a>
      </button>
      <a href="{% url 'settings' %}">
        <img
          class="settings"
          src="{% static 'Assets/settings.svg' %}"
          alt="Settings"
        />
      </a>
      <a href="{% url 'profile' %}">
        <img class="user" src="{% static 'Assets/user.svg' %}" alt="User" />
      </a>
      <input class="searchInput" type="text" name="" placeholder="Search" />
      <img
        id="searchButton"
        src="{% static 'Assets/search.svg' %}"
        alt="Search"
      />
    </section>

    <!--Main Section-->
    <section class="main_section">
      <div class="posts_container">
        {% for post in all_posts %}
        <div class="row">
          <div class="voting">
            <img
              src="{% static 'Assets/arrow.png' %}"
              alt=""
              class="vote_button"
            />
            <div class="vote_count">{{ post.vote_count }}</div>
          </div>
          <p class="Question_Text">{{ post.title }}</p>
          <p class="author">Lennart</p>
          <!--Use split-->
          <button class="tag">{{ post.tags }}</button>
        </div>
        <hr />
        {% endfor %}
      </div>

      <script src="{% static 'Forum/forum.js' %}"></script>
    </section>
    
    {% endblock %}
  </body>
</html>
