<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'LogIn/login.css' %}" />
  </head>
  <body>

    <!--LogIn Section (Main Section)-->
    <section class="main-login">
      <div class="login-form">
          {% if messages %}
            {% for message in messages %}
              <p class="error-text">{{ message }}</p>
            {% endfor %}
          {% endif %}
        <h1>Log In</h1>
        <form action="" method=POST>
           {% csrf_token %}
           <label for="username">Username</label>
          <input type="text" id="username" name="username"/>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
          <input type="submit" value="Submit" class="login-button">
        </form>
        <h4>
          Don't have an account?
          <a href="{% url 'signup' %}">Sign up</a>
        </h4>
        <h4><a href="">Forget Password?</a></h4>
      </div>
    </section>
    <script src="{% static 'LogIn/login.js' %}"></script>

    {% endblock %}
  </body>
</html>
