<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post new Question</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link
      rel="stylesheet"
      href="{% static 'Post_question/post_question.css' %}"
    />
  </head>
  <body>

    <!--Main Section-->
    <section class="main-section-description">
      <div class="form">
        <label for="description" class="description-title"
          >Enter your questions description!</label
        >
        <textarea
          type="text"
          id="description"
          placeholder="Description"
          maxlength="1000"
        ></textarea>
      </div>
      <button class="next_description" onclick="next_description()">
        Next
      </button>
      <script src="{% static 'Post_Question/post_question.js' %}"></script>
      <script>
        function link_description() {
          window.location.href = "{% url 'post_question_tags' %}";
        }
      </script>
    </section>

    {% endblock %}
  </body>
</html>
