<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post new Question</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link
      rel="stylesheet"
      href="{% static 'Post_question/post_question.css' %}"
    />
  </head>
  <body>

    <!--Main Section-->
    <section class="main-section-title">
      <div class="form">
        <label for="title" class="label-question-title"
          >Enter your questions title!</label
        >
        <input type="text" id="title" placeholder="Title" maxlength="100" />
      </div>
      <button class="next_button" onclick="next()">Next</button>
      <script
        type="text/javascript"
        src="{% static 'Post_Question/post_question.js' %}"
      ></script>
      <script>
        function link() {
          window.location.href = "{% url 'post_question_description' %}";
        }
      </script>
    </section>

    {% endblock %}
  </body>
</html>
