<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post new Question</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'Post_Question/post_question.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'General/DarkMode/darkmode.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'General/Particles/particles.css' %}"
    />
    <link rel="stylesheet" href="{% static 'General/main.css' %}" />
  </head>
  <body>
    <!--Header Section Main Forum Page-->
    <header>
      <a href="{% url 'start' %}">
        <img src="{% static 'Assets/Logo.png' %}" class="Logo" alt="Logo" />
      </a>
      <button class="go-to-main">
        <a href="{% url 'forum' %}">Forum</a>
      </button>

      <button id="dark_mode_button" onclick="showMessage()">Change</button>
    </header>

    <!--Main Section-->
    <section class="main-section-tags">
      <div class="form">
        <h1 class="heading">Add Tags for your question</h1>
        <label for="tags" class="search-label">Search</label>
        <input type="text" class="search" />
        <div class="tags">
          {% for tag in all_tags %}
          <div class="tag">
            <p class="tag-title">{{ tag.name }}</p>
            <input
              type="checkbox"
              class="checkbox-button"
              name="checkboxes"
              value="{{ tag.name }}"
            />
            <p class="description">{{ tag.description }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <button class="next_tags" onclick="next_tags()">Finish</button>
      <script src="{% static 'Post_Question/post_question.js' %}"></script>
      {% csrf_token %}
      <script>
        function sendToBackend(title, description, tags) {
          let token = "{{ csrf_token }}";
          let formData = new FormData();
          formData.append("title", title);
          formData.append("description", description);
          formData.append("tags", tags);
          formData.append("csrfmiddlewaretoken", token);

          fetch("", {
            method: "POST",
            body: formData,
          });
        }

        function link_tags() {
          location.reload();
          window.location.href = "{% url 'forum' %}";
        }
      </script>
    </section>

    <!--Background Stuff-->
    <div class="wrapper">
      <div class="content">
        <p>Are you sure you want to switch on the lightmode?</p>
        <div class="button">
          <button class="item" onclick="switchMode()">Turn on Anyway</button>
        </div>
      </div>
    </div>
    <div id="particles-js"></div>
    <script src="{% static 'General/Particles/particles.js' %}"></script>
    <script src="{% static 'General/Particles/app.js' %}"></script>
    <script src="{% static 'General/DarkMode/darkmode.js' %}" defer></script>
  </body>
</html>
