<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'Forum/forum.css' %}" />
    <link rel="stylesheet" href="{% static 'Edit/edit.css' %}">
</head>

<body>

    <!--Button Section-->
    <section class="button_header">
        <button class="post_question">
            <a href="{% url 'post_question' %}" class="link">Post Question</a>
        </button>
        <button class="your_question">
            <a href="{% url 'your_questions' %}" class="link">Your Questions</a>
        </button>
        <a href="{% url 'settings' %}">
            <img class="settings" src="{% static 'Assets/settings.svg' %}" alt="Settings" />
        </a>
        <a href="{% url 'profile' %}">
            <img class="user" src="{% static 'Assets/user.svg' %}" alt="User" />
        </a>
        <input class="searchInput" type="text" name="" placeholder="Search" />
        <img id="searchButton" src="{% static 'Assets/search.svg' %}" alt="Search" />
    </section>

    <!--Main Section-->
    <section class="main_section">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document">
            <input type="submit" value="Upload File">
          </form>
    </section>

    <script>
        function save() {
            let formData = new FormData();
            let token = "{{ csrf_token }}"

            formData.append("title", document.getElementById("title").value)
            formData.append("description", document.getElementById("description").value)
            formData.append("csrfmiddlewaretoken", token)

            fetch("/edit/{{ post.id }}/", {
                method: "POST",
                body: formData
            })

            location.href = "{% url 'forum' %}"
        }
    </script>

    {% endblock %}
</body>

</html>