<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'Settings/settings.css' %}" />
  </head>
  <body>

    <section class="main_section">
      <h1 class="settings-heading">Settings</h1>
      <div class="setting-item">
        <h2 class="setting-content">Default Theme</h2>
        <select id="setting-themes">
          <option value="Dark">Dark</option>
          <option value="Light">Light</option>
        </select>
        <!--TODO: Change Button to Switch-->
      </div>
    </section>

    {% endblock %}
  </body>
</html>
