<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'SignUp/signup.css' %}" />
  </head>
  <body>

    <!--SignUp Section (Main Section)-->
    <section class="main-signup">
      <div class="signup-form">
        <h1>Sign Up</h1>
        <form action="" method=POST>
          {% csrf_token %}
          
          {{ form }}

          <input type="submit" value="Submit" class="signup-button">
        </form>
        <h4>
          Already have an Account?
          <a href="{% url 'login' %}">Log In</a>
        </h4>
      </div>
    </section>
    <script src="{% static 'SignUp/signup.js' %}"></script>

    {% endblock %}
  </body>
</html>
