<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% extends 'base.html' %}
    {% load static %}

    {% block content %}
    <link rel="stylesheet" href="{% static 'Start/start.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'Assets/Logo.png' %}"
      type="image/x-icon"
    />
  </head>
  <body>

    <!--Start Section-->
    <section>
      <div id="particles-js">
        <div class="start-cont">
          <h1 class="heading">Codeconnect</h1>
        <h4>Codeconnect is a multifunctional coding forum!</h4>
        <button id="get_started_btn">
          <a href="{% url 'signup' %}">Get started!</a>
        </button>
        </div>
        <div class="wrapper">
          <div class="content">
            <p>Are you sure you want to switch on the lightmode?</p>
            <div class="button">
              <button class="item" onclick="switchMode()">
                Turn on Anyway
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
