<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'Your_questions/your_questions.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'General/DarkMode/darkmode.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'General/Particles/particles.css' %}"
    />
    <link rel="stylesheet" href="{% static 'General/main.css' %}" />
  </head>
  <body>
    <!--Header Section Your Questions Page-->
    <header>
      <a href="{% url 'start' %}">
        <img src="{% static 'Assets/Logo.png' %}" class="Logo" alt="Logo" />
      </a>

      <button class="go-to-main">
        <a href="{% url 'forum' %}">Forum</a>
      </button>
      <button id="dark_mode_button" onclick="showMessage()">Change</button>
    </header>

    <!--Main Section-->
    <section class="main_section">
      <ol>
        <li class="row">
          <p class="Question_Text">How to center a div?</p>
          <button class="tag">HTML</button>
          <button class="tag">CSS</button>
          <button class="edit-button">Edit</button>
        </li>
        <hr />
        <li class="row">
          <p class="Question_Text">Django Tutorial</p>
          <button class="tag">Python</button>
          <button class="tag">Django</button>
          <button class="edit-button">Edit</button>
        </li>
        <hr />
      </ol>
    </section>

    <!--Background Stuff-->
    <div class="wrapper">
      <div class="content">
        <p>Are you sure you want to switch on the lightmode?</p>
        <div class="button">
          <button class="item" onclick="switchMode()">Turn on Anyway</button>
        </div>
      </div>
    </div>
    <div id="particles-js"></div>
    <script src="{% static 'General/Particles/particles.js' %}"></script>
    <script src="{% static 'General/Particles/app.js' %}"></script>
    <script src="{% static 'General/DarkMode/darkmode.js' %}" defer></script>
  </body>
</html>
