.main-login {
    background-color: var(--header-color);
    min-height: 55vh;
    height: auto;
    width: 60vh;
    position: fixed;
    top: 24%;
    left: 32%;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #2a2a2a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-login h1 {
    text-align: center;
    color: var(--secondary-color);
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 7%;
}

label[for*="username"] {
    color: var(--secondary-color);
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
}

#username {
    display: block;
    background-color: var(--primary-color);
    border-style: solid;
    border-radius: 20px;
    border-color: var(--green-color);
    color: var(--secondary-color);
    border-width: 2px;
    width: 30vh;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#username:focus {
    border: none;
    color: var(--secondary-color);
    padding-left: 10px;
}

label[for*="password"] {
    color: var(--secondary-color);
    display: block;
    margin-bottom: 6px;
    font-size: 20px;
}

#password {
    padding-left: 10px;
    color: var(--secondary-color);
    display: block;
    background-color: var(--primary-color);
    border-style: solid;
    border-radius: 20px;
    border-color: var(--green-color);
    border-width: 2px;
    width: 30vh;
    height: 30px;
    margin-bottom: 10px;
}

#password:focus {
    border: none;
    color: var(--secondary-color);
    padding-left: 10px;
}

.main-login h4 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 20px;
}

.main-login h4 a {
    color: var(--green-color);
    text-decoration: none;
    text-align: center;
}

.login-button {
    background-color: var(--green-color);
    color: var(--primary-color);
    padding: 14px 20px 14px 20px;
    border: none;
    border-radius: 20px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-button:hover {
    opacity: 0.6;
}